<div id="home-article">

	<div  class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Panel title</h3>
	    <button class="btn btn-default pull-right">Save</button>
	    <div class="clearfix"></div>
	  </div>
	  
	  <div class="panel-body">
	    Panel content

	  </div>
	</div>

</div>